.app-head {
padding: 20px;
}

.app-content md-card {
margin: 20px;
}

.my-layout {
  width: 500px;
  height: 300px;
}

.my-layout md-sidenav {
  max-width: 200px;
}

.my-layout .md-sidenav-content,
.my-layout md-sidenav {
  display: flex;
}

.my-scrolling-content {
  overflow: auto;
}

button.my-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
